#contact {

}

#contacts-container a {
    font-size: 30px;
    text-decoration: none;
    color: #f5f6fa;
    transition: color 0.2s;
}

#contacts-container a:hover {
    color: #deb235;
    transition: color 0.2s;
}

#contacts-container {
    margin-top: 12vh;
    flex-wrap: wrap;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-impl i {
    font-size: 40px;
}

.contact-impl p {
    margin-top: 3px;
}

.contact-impl {
    width: 130px;
    border-radius: 25px;
    background-color: #2c323b;
    padding: 10px 50px 2px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}