.font-1 {
    font-family: "Yarndings 12", sans-serif;
}

.font-2 {
    font-family: "Tac One", sans-serif;
}

.font-3 {
    font-family: "Playfair Display", sans-serif;
}

.font-4 {
    font-family: "Permanent Marker", sans-serif;
}

.font-5 {
    font-family: "Pacifico", sans-serif;
}