#projects {
    min-height: 98vh;
    height: fit-content;
    margin-bottom: 2vh;
}

#projects-container {
    margin-top:30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects-container .project {
    margin: 20px;
    padding: 25px;
    background-color: #2A2F38;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

#projects-container .project:hover {
    -webkit-box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

#projects-container .project img {
    width: 350px;
    border-radius: 23px;
}

#projects-container .project h2 {
    color: #f5f6fa;
    font-size: 24px;
}

#projects-container .project p {
    color: #f5f6fa;
    font-size: 20px;
    opacity: 0.7;
}

#projects-container .project a {
    margin-top:auto;
    width: fit-content;
    text-decoration: none;
    color: #f5f6fa;
    font-size: 24px;
    font-weight: 700;
    background-color: #E1B12C;
    padding: 10px;
    border-radius: 18px;
    transition: background-color 0.2s;
}

#projects-container .project .tags span.primary {
    font-weight: 600;
    background-color: #deb235;
}

#projects-container .project .tags span {
    font-weight: 500;
    color:#f5f6fa;
    background-color: #a27806;
    padding: 5px;
    border-radius: 8px;
    margin: 1px;
}

#projects-container .project a:hover {
    background-color: #c99d1d;
    transition: background-color 0.2s;
}